In [2]:
import pandas as pd
clientes = pd.read_csv('number-of-people-with-cancer-by-age.csv')
clientes

,Afghanistan,AFG,1990,5468.17198717,15160.5505841,11118.7971513,2162.51955657,3458.69219433
0,Afghanistan,AFG,1991,5542.409743,15403.327902,11275.643030,2182.992003,3380.741640
1,Afghanistan,AFG,1992,5633.485650,15929.131333,12915.115833,2338.885361,3515.259263
2,Afghanistan,AFG,1993,5750.508685,16450.708878,14440.560525,2651.815246,4116.452952
3,Afghanistan,AFG,1994,5847.519083,16843.596095,14927.822050,2760.429474,4835.583726
4,Afghanistan,AFG,1995,5933.775674,17154.752692,15265.454832,2911.841972,5531.051130
...,...,...,...,...,...,...,...,...
6462,Zimbabwe,ZWE,2013,5849.411980,17451.705394,14360.107439,857.751511,1809.265601
6463,Zimbabwe,ZWE,2014,5988.076007,17896.158215,14867.350677,876.294567,1815.531520
6464,Zimbabwe,ZWE,2015,6176.660634,18367.579487,15348.631446,878.637360,1803.072478
6465,Zimbabwe,ZWE,2016,6432.777211,18944.965812,15808.598752,890.203599,1814.026770
6466,Zimbabwe,ZWE,2017,6689.451098,19450.896751,16394.758783,911.632683,1794.824216